<div class="header">
  <div class="logo">
    <!--<h1>Horizon Bank</h1>-->
    <img src="assets/sello1.png" alt="icon">
  </div>
</div>



<div class="content">
  <div class="container">
    <h3>Actualizar Nombre de Usuario</h3>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="nuevoNombreUsuario">Nuevo Nombre de Usuario:</label>
        <input id="nuevoNombreUsuario" formControlName="nuevoNombreUsuario" type="text" required />
      </div>
      <div class="form-group">
        <label for="confirmarNombreUsuario">Confirmar Nombre de Usuario:</label>
        <input id="confirmarNombreUsuario" formControlName="confirmarNombreUsuario" type="text" required />
      </div>
      <div class="button-container">
        <button type="submit" [disabled]="isProcessing">Actualizar</button>
      </div>
    </form>
  </div>
</div>



<div class="footer">
  <div class="footer-column">
    <img src="assets/sello1.png" width="250"  alt="icon">
  </div>
  <div class="footer-column">

    <div class="mi-div">Contacto y Ayuda</div>
    <div class="social-media">
    <a href="#" target="_blank">
      <img src="assets/social/telefono.png" alt="LinkedIn">
      (02) 2999000</a>
      <a href="#" target="_blank">
        <img src="assets/social/celular.png" alt="LinkedIn">
        (+593) 987654321</a>
  </div>
   <div class="social-media" >                 
   <a href="https://www.facebook.com/" target="_blank">
    <img src="assets/social/facebook.png" alt="Facebook"> Facebook</a>
    <a href="#" target="_blank">
      <img src="assets/social/instagram.png" alt="Instagram">
      Instagram
    </a>
    <a href="#" target="_blank">
      <img src="assets/social/linkedin.png" alt="LinkedIn">
      LinkedIn
    </a>
    </div>
  </div>
  <div class="footer-column">
    <div class="mi-div">Sobre Nosotros</div>
    <div>¿Quienes Somos?</div>
    <div>Trabaja con Nosotros</div>
    <div>Trasparencia</div>
  </div>
  <div class="footer-column">
    <div class="mi-div">Más Servicios</div>
    <div>Políticas de Privacidad</div>
  </div>
</div>
