/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: white; /* Fondo azul claro */
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Magdelin Alt Regular';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt Regular.woff'),  format('woff');
  }
@font-face {
  font-family: 'Magdelin Alt Regular Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt Regular Italic.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt Thin';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt Thin.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt Thin Italic.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt ExtraLight';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt ExtraLight.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt ExtraLight Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt ExtraLight Italic.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt Light';
  font-style: normal;
  font-weight: normal;
  src:url('/assets/fonts/Magdelin Alt Light.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt Light Italic';
  font-style: normal;
  font-weight: normal;
  src:  url('/assets/fonts/Magdelin Alt Light Italic.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt Text';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt Text.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt Text Italic';
  font-style: normal;
  font-weight: normal;
  src:  url('/assets/fonts/Magdelin Alt Text Italic.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt Medium';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt Medium.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt Medium Italic.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt SemiBold';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt SemiBold.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt SemiBold Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt SemiBold Italic.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt Bold';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt Bold.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt Bold Italic.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt ExtraBold.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt ExtraBold Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt ExtraBold Italic.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt Black';
  font-style: normal;
  font-weight: normal;
  src:  url('/assets/fonts/Magdelin Alt Black.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt Black Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt Black Italic.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Regular';
  font-style: normal;
  font-weight: normal;
  src:  url('/assets/fonts/Magdelin Regular.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Regular Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Regular Italic.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Thin';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Thin.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Thin Italic.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin ExtraLight';
  font-style: normal;
  font-weight: normal;
  src:  url('/assets/fonts/Magdelin ExtraLight.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin ExtraLight Italic';
  font-style: normal;
  font-weight: normal;
  src:  url('/assets/fonts/Magdelin ExtraLight Italic.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin Light';
  font-style: normal;
  font-weight: normal;
  src:  url('/assets/fonts/Magdelin Light.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin Light Italic';
  font-style: normal;
  font-weight: normal;
  src:url('/assets/fonts/Magdelin Light Italic.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin Text';
  font-style: normal;
  font-weight: normal;
  src:  url('/assets/fonts/Magdelin Text.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin Text Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Text Italic.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin Medium';
  font-style: normal;
  font-weight: normal;
  src:  url('/assets/fonts/Magdelin Medium.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin Medium Italic';
  font-style: normal;
  font-weight: normal;
  src:  url('/assets/fonts/Magdelin Medium Italic.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin SemiBold';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin SemiBold.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin SemiBold Italic';
  font-style: normal;
  font-weight: normal;
  src:  url('/assets/fonts/Magdelin SemiBold Italic.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Bold';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Bold.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin Bold Italic';
  font-style: normal;
  font-weight: normal;
  src:  url('/assets/fonts/Magdelin Bold Italic.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin ExtraBold';
  font-style: normal;
  font-weight: normal;
  src:  url('/assets/fonts/Magdelin ExtraBold.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin ExtraBold Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin ExtraBold Italic.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin Black';
  font-style: normal;
  font-weight: normal;
  src:  url('/assets/fonts/Magdelin Black.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin Black Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Black Italic.woff'), format('woff');
  }
/* styles.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;

}
.page-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header .logo {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center; /* Centrar verticalmente el contenido */
}
.logo img{
  height: 400px;
  width: auto;
  margin-right: 10px;
  margin-bottom: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1273EB/*#00AEEF*/;
  padding:  40px;
  position: static;
  top: 0;
  z-index: 1000;
  height: 55px;
}

/* Estilo del contenedor de inicio de sesión */
.content {
  padding: 20px;
  background: #fff;
  display: flex; 
  justify-content: space-between;
}
.container .form-group, .form-captcha, .button-container, .forgot-credentials {
  margin-bottom: 5px; /* Reduce el margen inferior para acercar los elementos */
}

.container h2 {
  margin-bottom: 15px; /* Ajusta el margen inferior del título */
}

.button-container button {
  margin: 0 5px; /* Ajusta el margen entre botones */
}

.container .forgot-credentials button {
  padding: 5px 10px; /* Ajusta el padding de los botones de recuperación */
}
.left-content, .container {
  width: 44%;
  margin-right: 10px;
}
.container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center; /* Añadir espacio para el footer */
}

.container h2 {
  text-align: center;
  color: #323232; 
  font-size: 2em;
  margin-bottom: 20px;
  font-family: 'Magdelin Alt Bold';
  font-size: 40px;
}

.form-captcha {
  display: flex;
  justify-content: space-evenly;
}

.alert {
  padding: 10px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 20px;
  border-radius: 5px;
  font-family: 'Magdelin Alt Bold';

}
.container label {
  margin-left: 0; /* Centra los labels */
  text-align: center;
  font-size: 1.5em;
}

.alert-danger {
  background-color: #f44336; /* Red */
}

form div {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-family: 'Magdelin Alt Bold';
  /* width: 110px; */
  margin-left: 110px;
  text-align: center;
  color: #323232; 
  margin-bottom: 20px;
  font-size: 30px;
}

input {
   width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #EBEBEB;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.container .login{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente los botones */
  gap: 10px;
  margin-top: 15px;
}

.button-container button {
  width: 150px;
  padding: 10px;
  background-color: #1273EB;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin:5px;
  position: sticky;
  font-family: 'Magdelin Alt Regular';
}

.button-container button:hover {
  background-color: #29AECC;
}

.container .forgot-credentials {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.container .forgot-credentials button {
  color: white; /* Texto azul oscuro */
  text-decoration: none;
  border: 3px solid #22395D;
font-size: 18px;
  font-family: 'Magdelin Alt Regular';
  background-color: #22395D;
  padding: 10px;  
  border-radius: 10px;
  width: 150px;
}

.container .forgot-credentials button:hover {
  background-color: #29AECC;
  color: white;
}

/* Estilo del contenedor del pie de página */
.footer {
  background-color: #29AECC;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  overflow: hidden;
  margin-bottom: 0;
  font-family: 'Magdelin Alt Regular';
  font-size:  20px;
  margin-top: auto;
  
}
.footer-column {
  padding:  0;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0px;
  font-family: 'Magdelin Alt Regular';
  font-size:  20px;
 /* Alinea el contenido de cada columna a la izquierda */
}
.footer-column .img{
height: 70px;
margin-bottom: 0;
transform: translateY(-10px); 

}
.social-media {
margin-top: 10px;
}
.footer .social-media a {
display: flex;
align-items: center;
margin: 5px 0;
color: white;
text-decoration: none;
font-family: 'Magdelin Alt Regular';
  font-size:  20px;
}
.footer .social-media a img {
width: 24px; /* Ajusta el tamaño de los íconos */
height: 24px;
margin-right: 10px;
object-fit: contain;

}
.footer-column .mi-div {
margin-left: 20px; /* Ajusta el valor según sea necesario */
margin-bottom: 10px;
  font-weight: bold;
}
.footer a {
  color: #F7F4E7;
  text-decoration: none;
  margin: 0 10px;
}
.footer a:hover {
  text-decoration: underline;
}
/* Media queries para adaptabilidad */
@media (max-width: 768px) {
  .header h2 {
    font-size: 1.5em;
  }

  .container {
    width: 95%;
    padding: 15px;
  }

  label{
    margin-left: 105px;
  }

  /* .button-container button, .container .forgot-credentials button {
    flex: 1 0 100%;
  } */
}

@media (max-width: 480px) {
  .header {
    height: 60px;
    padding: 5px 0;
  }

  .header h2 {
    font-size: 1.2em;
    padding: 5px;
  }

  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .footer a {
    margin: 5px 0;
  }

  label{
    margin-left: 15px;
  }
}