<div class="header">
  <h2>Horizon Bank</h2>
</div>
<div class="content">
  <div class="container">
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
    <h2>Ingreso</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="nombreUsuario">Usuario</label>
        <input id="nombreUsuario" formControlName="nombreUsuario" type="text">
      </div>
      <div class="form-group">
        <label for="contraseña">Contraseña</label>
        <input id="contraseña" formControlName="contraseña" type="password">
      </div>
      <div class="form-captcha">
        <re-captcha (resolved)="resolved($event)" siteKey="{{ reCaptchaSiteKey }}"></re-captcha>
      </div>
      <div class="button-container">
        <button type="button" (click)="redirectTo('')">Regresar</button>
        <button type="submit">Ingresar</button> <!-- Aquí está el cambio -->
      </div>
      <div class="forgot-credentials">
        <button type="button" (click)="redirectTo('recuperar-contraseña')">¿Olvidaste tu contraseña?</button>
        <button type="button" (click)="redirectTo('')">¿Olvidaste tu usuario?</button>
      </div>
    </form>
  </div>
</div>
<div class="footer">
  <div class="footer-column">
    <div>Horizon Bank</div>
  </div>
  <div class="footer-column">
    <div class="mi-div">Ayuda y Contacto</div>
    <div>+593999999999</div>
    <div>
      <a href="#">Facebook</a>
    </div>
    <div>
      <a href="#">Instagram</a>
    </div>
    <div>

      <a href="#">LinkedIn</a>
    </div>
  </div>
  <div class="footer-column">
    <div class="mi-div">Sobre Nosotros</div>
    <div>Quienes Somos</div>
    <div>Trabaja con Nosotros</div>
    <div>Transparencia</div>
  </div>
  <div class="footer-column">
    <div class="mi-div">Mas Servicios</div>
    <div>Transacciones en Linea</div>
  </div>
</div>
