/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EDF6FF;
    margin-bottom: 0;
}
.container {
    width: 80%;
    margin: 0 auto;
}
/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00AEEF;
    padding:  20px;
    position: static;
    top: 0;
    z-index: 1000;
    height: 55px;
}
.left-items {
  display: flex;
  align-items: center;
  width: 20%; /* Ajustar según necesidad */
  /* Añadir estilo adicional si es necesario */
}
.header .logo {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center; /* Centrar verticalmente el contenido */
}
.logo img{
  height: 300px;
  width: auto;
  margin-right: 10px;
  margin-bottom: 20px;
}
.buttons-container {
    display: flex;
    gap: 10px;
}
.buttons-container button {
    background-color: #00AEEF;
    color: white;
    border: 3px solid white;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.buttons-container button:hover {
    background-color: white;
    color: #00AEEF;
    font-weight: bold;
}

/* Ensure buttons have no outline when focused */
.buttons-container button:focus {
    outline: none;
}
/* Banner */
.banner {
    /* Cambia el color de fondo según la imagen de referencia */
    color: white;
    padding: 100px 20px;
    text-align: center;
}
.banner h2 {
    color: black;
    font-size: 24px;
}
.carousel {
  position: relative;
  width: 100vw;
  margin: 0 auto;
  overflow: hidden; 
}
.carousel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.carousel-slide {
  min-width: 100vw;
  /*display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;*/
  box-sizing: border-box;
  position: relative;
}
.carousel img {
  width: 100%;/* Ajusta esta altura máxima según sea necesario */
  height: 600px;
  object-fit: cover;
  border: 1px solid #00AEEF;
}
.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  color: #7ad2e6; /* Color celeste */
  border: none;
  padding: 20px; /* Tamaño aumentado */
  cursor: pointer;
  font-size: 6em; /* Tamaño del icono aumentado */
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-button:hover {
  color: #5ebcd2; /* Un color celeste un poco más oscuro para el hover */
}
.carousel-button.prev {
  left: -17px; /* Separación del borde izquierdo */
}
.carousel-button.next {
  right: -15px; /* Separación del borde derecho */
}

/**/
.carousel-indicator {
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.carousel-indicator.active {
  background-color: #005EB8; /* Color del indicador activo */
  transform: scale(1.2);
}

.carousel-indicator:hover {
  background-color: #aaa;
  transform: scale(1.1);
}
.carousel-caption {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}
.carousel-text {
  position: absolute;
  top: 20%;
  left: 10%;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 300px;
}
.carousel-text h1 {
  font-size: 24px;
  margin: 0 0 10px 0;
}
.carousel-text p {
  font-size: 16px;
  margin: 0;
}
.carousel-indicators {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Why Choose Us Section */
.why-choose-us {
    text-align: center;
    padding: 50px 20px;
}

.why-choose-us h2 {
    color: #005EB8;
    margin-bottom: 40px;
    font-weight: bold;
}
.reasons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.reason {
    background-color: #005EB8;
    width: 94%;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    gap: 20px;
    border-radius: 5px;
}
.reason.piggybank {
    flex-direction: row-reverse;
}
.reason p {
    color: white;
    margin: 0;
    text-align: justify;
}
.reason img {
    width: 25%; /* Ancho completo para imágenes */
    height: auto;
    border-radius: 5px; /* Opcional: Agregar borde redondeado a las imágenes */
}
/* Servicios Section */
.servicio{text-align: center;
  padding: 50px 20px;
}
.servicio h2 {
  color: #005EB8;
  margin-bottom: 40px;
  font-weight: bold;
}
.services {
    text-align: center;
    padding: 50px 20px;
    background-color: #00AEEF;
    border-radius: 10px;/*#8ADBE5*/
    width: 90%; /* Ajusta el ancho según sea necesario */
    margin: 0 auto; /* Centra el contenedor */
  } 
  .services h2 {
    color: white;
    margin-bottom: 40px;
    font-weight: bold;
  }
  .service-cards {
    display: flex;
    justify-content: space-around;
    background-color: #00AEEF/*#8ADBE5*/;
    align-items: baseline;
    flex-wrap: wrap;

  }
  .service-card {
    background-color: #8ADBE5;
    width: 20%;
    margin-bottom: 20px;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
    border: 4px solid white;
    margin: 10px;
    
  }
  .service-card h3 {
    color: white;
    margin-bottom: 10px;
    font-size: 20px;
  }
  .service-card p {
    color: white;
    margin: 0;
    text-align: justify;
    font-size: 15px;
    padding: 15px;
  }
  .service-card img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    padding: 15px;
  }
  /* Sucursales Section */
  .branches {
    text-align: center;
    padding: 50px 20px;
  }
  .branches h2 {
    color: #005EB8;
    margin-bottom: 40px;
    font-weight: bold;
  }

  .branch {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #EFF7F8;
    padding: 20px;
    border: 5px solid #8ADBE5;
    margin: 15px;
    border-radius: 10px;
  }
  
  .branch img {
    width: 40%;
    border-radius: 5px;
    margin-right: 100px;
  }
  
  .branch-details {
    text-align: left;
    width: 40%;
  }
  
  .branch-details h3 {
    color: #1A61A0;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
  }
  
  .branch-details p, .branch-details ul {
    color: #333;
    margin: 0;
  }
  
  .branch-details ul {
    list-style: none;
    padding: 0;
  }

  .branch-details ul li {
    margin: 5px 0;
  }

  .chatbot-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #2acad8;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .chatbot-toggle:hover {
    background: #24b0bc;
  }

  /* Footer styling */
.footer {
    background-color: #00AEEF;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    overflow: hidden;
    margin-bottom: 0;
}
.footer-column {
    padding: 5px 0;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0px;
   /* Alinea el contenido de cada columna a la izquierda */
}
.footer-column .img{
  margin-bottom: 0;
  margin-top: -10px;
  
  
}
.social-media {
  margin-top: 10px;
}
.footer .social-media a {
  display: flex;
  align-items: center;
  margin: 5px 0;
  color: white;
  text-decoration: none;
}
.footer .social-media a img {
  width: 24px; /* Ajusta el tamaño de los íconos */
  height: 24px;
  margin-right: 10px;
  object-fit: contain;

}
.footer-column .mi-div {
  margin-left: 20px; /* Ajusta el valor según sea necesario */
  
    font-weight: bold;
  }
  .footer a {
    color: #F7F4E7;
    text-decoration: none;
    margin: 0 10px;
}
.footer a:hover {
    text-decoration: underline;
}
  /* Responsive Design */
  @media (max-width: 768px) {
    .service-card {
      width: 90%;
    }

    .branch {
      flex-direction: column;
    }

    .branch img {
      width: 100%;
      margin: 0 0 20px 0;
    }

    .branch-details {
      width: 100%;
      text-align: center;
    }
  }