/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}
  
*,
*:before,
*:after {
    box-sizing: inherit;
}
  
.header {
    width: calc(91% - 245px); /* Deja espacio para la barra lateral */
    margin-left: 250px; /* Alinea el header con el contenido principal */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 35px;
    z-index: 500; /* Asegura que el header esté por debajo de la barra lateral */
    position: relative;
}
  
.header h2 {
    margin: 0;
    padding: 5px;
}

h2 {
    text-align: center;
    color: #1A61A0;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 20px;
}
  
.titulo {
    text-align: center;
    color: #1A61A0;
}
  
.user-profile {
    position: absolute;
    right: 5px;
    background-color: #29AECC;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; /* Tamaño del icono */
    font-weight: bold;
    text-align: center;
}
  
.user-profile i {
    margin: 0; /* Asegura que el ícono esté perfectamente centrado */
}
  
.sidebar {
    width: 250px;
    background-color: #2cb5d3;
    color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh; /* Se asegura que la barra lateral ocupe toda la altura de la ventana */
    z-index: 1000; /* Coloca la barra lateral sobre el header */
}
  
.logo {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}
  
.logo img {
    width: 250px;
    margin-top: 10px; /* Ajusta este valor para controlar la posición vertical */
}
  
.sidebar button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
    padding: 15px 10px;
    margin: 5px 0;
    transition: background-color 0.3s ease;
    width: 100%;
    display: flex;
    align-items: center;
}
  
.sidebar button i {
    margin-right: 10px;
}
  
.sidebar button:hover {
    background-color: #32c1e1;
}
  
.content {
    flex: 1;
    padding: 20px;
    background: #F3F5F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    margin-left: 250px; /* Deja espacio para la barra lateral */
    max-width: calc(100% - 270px); /* Asegura que el contenido no se salga del espacio restante */
    min-height: 100vh;
}

.container {
    text-align: center;
    background-color: white;
    padding: 40px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
}

label {
    font-size: 18px;
    color: #0F265C;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    display: block;
}

select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 18px;
    color: #0F265C;
    font-family: 'Poppins', sans-serif;
}

.button-container {
    margin-top: 20px;
}

button {
    background-color: #1A61A0;
    color: #fff;
    padding: 12px 24px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

button:hover {
    background-color: #29AECC;
}

.paypal-button-container {
    margin-top: 20px;
}

