
<div class="header">
  <div class="user-profile">
    <i class="fas fa-user"></i>
  </div>
  <div class="titulo">
    <h2>Pago</h2>
  </div>
</div>

<div class="content">
  <div class="sidebar">
    <div class="logo">
      <img src="assets/logo3.1.png" alt="icon">
    </div>
    <button (click)="redirectTo('cambio-contraseña')"><i class="fas fa-key"></i> Cambio Contraseña</button>
    <button (click)="redirectTo('visualizacion-saldo')"><i class="fas fa-eye"></i> Visualización de saldo</button>
    <button (click)="redirectTo('crear-cuenta')"><i class="fas fa-plus"></i> Agregar Cuenta</button>
    <button (click)="redirectTo('transferencia')"><i class="fas fa-exchange-alt"></i> Transferencia</button>
    <button (click)="redirectTo('historial-transferencias')"><i class="fas fa-history"></i> Historial de Transferencias</button>
    <button (click)="redirectTo('/')"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</button>
  </div>

  <div class="container">
    <label for="cuenta">Seleccione una cuenta:</label>
    <select id="cuenta" [(ngModel)]="selectedAccount" (change)="onAccountChange($event)">
      <option *ngFor="let cuenta of cuentas" [value]="cuenta.numeroCuenta">
        {{ cuenta.numeroCuenta }} - {{ cuenta.saldo | currency }}
      </option>
    </select>
     
    <p>Valor de la factura: {{ valorFactura | currency }}</p>
    
    

    <div *ngIf="estado === 'Pagado'">
      <p style="color: green;">Este servicio ya ha sido pagado el {{ fechaPago | date:'longDate' }} por un monto de {{ valorFactura | currency }}.</p>
    </div>
    
    <div *ngIf="estado === 'Por pagar'">
      <p>Estado: {{ estado }}</p>
      <div id="paypal-button-container"></div>
    </div>
    <div class="butto-container">
      <button (click)="redirectTo('seleccion-servicio')">Regresar</button>
    </div>
  </div>
</div>
  