<div class="header">
  <div class="logo">
    <!--<h1>Horizon Bank</h1>-->
    <img src="assets/sello1.png" alt="icon">
  </div>
</div>

<div class="sidebar-wrapper">
  <div #sidebar class="sidebar">
    <button (click)="redirectTo('/')">Cerrar Sesión</button>
    <button (click)="redirectTo('visualizacion-saldo')">Visualización de Saldo</button>
    <button (click)="redirectTo('cambio-contraseña')">Cambiar Contraseña</button>
    <button (click)="redirectTo('crear-cuenta')">Crear Cuenta</button>
    <button (click)="redirectTo('transferencia')">Transferencia</button>
  </div>
</div>
<div class="content">
  <div class="container">
    <h2>Historial de Transferencias</h2>
    <div class="filters-container">
      <label>Filtrar por Tipo:</label>
      <select [(ngModel)]="filtroTipo" (change)="filtrarPorTipo(filtroTipo)">
        <option value="todos">Todos</option>
        <option value="ingreso">Ingresos</option>
        <option value="egreso">Egresos</option>
      </select>
      <label>Seleccionar Rango de Fechas:</label>
      <input type="date" [(ngModel)]="fechaInicio" (ngModelChange)="filtrarPorFechas()">
      <input type="date" [(ngModel)]="fechaFin" (ngModelChange)="filtrarPorFechas()">
      
      <div class="button-group">
      <button *ngIf="fechaInicio || fechaFin" (click)="filtrarPorFechas()" class="boton">Aplicar Filtro</button>
      <button *ngIf="fechaInicio || fechaFin" (click)="fechaInicio = fechaFin = ''; filtrarPorFechas()" class="boton">Quitar Filtro</button>
    </div>
    </div>
    <div *ngIf="transferenciasFiltradas.length === 0">
      <p>No hay transferencias para mostrar.</p>
    </div>
    <ul>
      <li *ngFor="let transferencia of transferenciasFiltradas" [ngClass]="{'ingreso': transferencia.tipo === 'ingreso', 'egreso': transferencia.tipo === 'egreso'}">
        <div>
          <p>Fecha: {{ transferencia.fecha | date }}</p>
          <p>Monto: {{ transferencia.monto | currency }}</p>
          
          <!-- Mostrar número de cuenta solo para pagos de servicios -->
          <p *ngIf="transferencia.descripcion.includes('Pago de servicio')">Cuenta: {{ transferencia.numeroCuenta }}</p>

          <!-- Mostrar tanto la cuenta como el destino para transferencias regulares -->
          <p *ngIf="!transferencia.descripcion.includes('Pago de servicio')">Cuenta origen: {{ transferencia.numeroCuenta }}</p>
          <p *ngIf="!transferencia.descripcion.includes('Pago de servicio')">Cuenta destino: {{ transferencia.cuentaDestino }}</p>

          <p>Descripción: {{ transferencia.descripcion }}</p>
        </div>
      </li>
    </ul>
  </div>
</div>
