<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


<div class="header">
  <div class="logo">
    <!--<h1>Horizon Bank</h1>-->
    <img src="assets/sello1.png" alt="icon">
  </div>
</div>
<div class="sidebar-wrapper">
  <div class="sidebar">
    <button (click)="redirectTo('/')">Cerrar Sesión</button>
    <button (click)="redirectTo('cambio-contraseña')">Cambio Contraseña</button>
    <button (click)="redirectTo('crear-cuenta')">Agregar Cuenta</button>
    <button (click)="redirectTo('transferencia')">Transferencia</button>
    <button (click)="redirectToHistorialTransferencias()">Historial de Transferencias</button>
    </div>
  </div>
<div class="content">
  <div class="welcome">
    <h2>¡Bienvenid&#64;, {{ nombreCliente }}!</h2>
  </div>
  <hr class="separator">
  <div class="container">
    <div class="account-info">
      <div class="account-details-wrapper" *ngIf="selectedAccount">
        <div class="account-details">
          <p>{{ selectedAccount.tipo }}</p>
          <p>Número de cuenta: {{ selectedAccount.numeroCuenta }}</p>
        </div>
        <div class="account-balance">
          <p><strong>{{ mostrarSaldo ? (selectedAccount.saldo | currency) : '****' }}</strong></p>
          <button *ngIf="cuentas.length > 1" (click)="toggleAccounts()">
            <i class="fas" [ngClass]="showAccounts ? 'fa-caret-up' : 'fa-caret-down'"></i>
          </button>
          <button (click)="toggleSaldo()">
            <i class="fas" [ngClass]="mostrarSaldo ? 'fa-eye-slash' : 'fa-eye'"></i>
          </button>
        </div>
      </div>
      <div class="showAccounts" *ngIf="showAccounts">
        <ul>
          <li *ngFor="let cuenta of cuentas" (click)="onAccountClick(cuenta)">
            <div class="account-details">
              <p>{{ cuenta.tipo }}</p>
              <p>{{ cuenta.numeroCuenta }}</p>
            </div>
            <div class="account-balance">
              <p><strong>{{ mostrarSaldo ? (cuenta.saldo | currency) : '****' }}</strong></p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
