/* Estilos generales */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Magdelin Alt Bold';
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Global styles */
@font-face {
  font-family: 'Magdelin Alt Regular';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt Regular.woff'),  format('woff');
  }
@font-face {
  font-family: 'Magdelin Alt Regular Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt Regular Italic.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt Thin';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt Thin.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt Thin Italic.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt ExtraLight';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt ExtraLight.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt ExtraLight Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt ExtraLight Italic.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt Light';
  font-style: normal;
  font-weight: normal;
  src:url('/assets/fonts/Magdelin Alt Light.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt Light Italic';
  font-style: normal;
  font-weight: normal;
  src:  url('/assets/fonts/Magdelin Alt Light Italic.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt Text';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt Text.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt Text Italic';
  font-style: normal;
  font-weight: normal;
  src:  url('/assets/fonts/Magdelin Alt Text Italic.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt Medium';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt Medium.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt Medium Italic.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt SemiBold';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt SemiBold.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt SemiBold Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt SemiBold Italic.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt Bold';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt Bold.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt Bold Italic.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt ExtraBold.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt ExtraBold Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt ExtraBold Italic.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt Black';
  font-style: normal;
  font-weight: normal;
  src:  url('/assets/fonts/Magdelin Alt Black.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt Black Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt Black Italic.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Regular';
  font-style: normal;
  font-weight: normal;
  src:  url('/assets/fonts/Magdelin Regular.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Regular Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Regular Italic.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Thin';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Thin.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Thin Italic.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin ExtraLight';
  font-style: normal;
  font-weight: normal;
  src:  url('/assets/fonts/Magdelin ExtraLight.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin ExtraLight Italic';
  font-style: normal;
  font-weight: normal;
  src:  url('/assets/fonts/Magdelin ExtraLight Italic.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin Light';
  font-style: normal;
  font-weight: normal;
  src:  url('/assets/fonts/Magdelin Light.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin Light Italic';
  font-style: normal;
  font-weight: normal;
  src:url('/assets/fonts/Magdelin Light Italic.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin Text';
  font-style: normal;
  font-weight: normal;
  src:  url('/assets/fonts/Magdelin Text.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin Text Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Text Italic.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin Medium';
  font-style: normal;
  font-weight: normal;
  src:  url('/assets/fonts/Magdelin Medium.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin Medium Italic';
  font-style: normal;
  font-weight: normal;
  src:  url('/assets/fonts/Magdelin Medium Italic.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin SemiBold';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin SemiBold.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin SemiBold Italic';
  font-style: normal;
  font-weight: normal;
  src:  url('/assets/fonts/Magdelin SemiBold Italic.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Bold';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Bold.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin Bold Italic';
  font-style: normal;
  font-weight: normal;
  src:  url('/assets/fonts/Magdelin Bold Italic.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin ExtraBold';
  font-style: normal;
  font-weight: normal;
  src:  url('/assets/fonts/Magdelin ExtraBold.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin ExtraBold Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin ExtraBold Italic.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin Black';
  font-style: normal;
  font-weight: normal;
  src:  url('/assets/fonts/Magdelin Black.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin Black Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Black Italic.woff'), format('woff');
  }
/* styles.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family:'Magdelin Alt Bold' ;

}
.page-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header .logo {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: left; 
  margin-left: 120px;/* Centrar verticalmente el contenido */
}
.logo img{
  height: 400px;
  width: auto;
  margin-right: 10px;
  margin-bottom: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1273EB/*#00AEEF*/;
  padding:  40px;
  position: static;
  top: 0;
  z-index: 1000;
  height: 55px;
}

.content {
  flex: 1 0 auto;
  padding: 20px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Magdelin Alt Bold';
}

.welcome h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #0F265C;
  font-family: 'Magdelin Alt Bold';
  font-size: 80px;
}

.separator {
  width: 100%;
  max-width: 720px;
  border: 1px solid #29AECC;
  margin: 20px 0;
  font-family: 'Magdelin Alt Bold';

}
.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto; /* Centraliza el contenedor */
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'Magdelin Alt Bold';

}

.container h2 {
  text-align: center;
  color: #0F265C;;
  font-family: 'Magdelin Alt Bold';
}

.account-details-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-family: 'Magdelin Alt Bold';

 
}
.account-details-wrapper .account-details p {
  margin: 0;
}
.account-balance {
  display: flex;
  align-items: center;
}
.account-balance p {
  margin-right: 10px;
  font-size: 18px;
}
.account-balance button {
  background: none;
  border: none;
  color: #1A61A0;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s ease;
}
.account-balance button:focus {
  outline: none;
}
.account-balance button:hover {
  color: #29AECC;
}
.showAccounts {
  margin-top: 10px;
  width: 100%;
}
.showAccounts ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.showAccounts li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  border-radius: 5px;
  border: 1px solid #eee;
  margin-top: 5px;
}

.showAccounts li:hover {
  background-color: #f5f5f5;
}

.showAccounts .account-details {
  flex: 1;
}

.showAccounts .account-balance {
  text-align: right;
}

.showAccounts .account-balance p {
  margin: 0;
}

.button-container {
  display: flex;
  flex-wrap: wrap; /* Permite que los botones se ajusten en pantallas pequeñas */
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.button-container button {
  width: 150px;
  padding: 12px; /* Aumenta el padding para un aspecto más espaciado */
  background-color: #1A61A0;
  color: #fff;
  border: none;
  border-radius: 25px; /* Aumenta el radio del borde para hacerlo más redondeado */
  font-size: 18px; /* Incrementa el tamaño de la fuente */
  cursor: pointer;
  margin: 7px;
  transition: background-color 0.3s ease; /* Añade una transición suave para el cambio de color */
}

.button-container button:hover {
  background-color: #29AECC;
}

.button-container button:focus {
  outline: none; /* Elimina el borde al hacer foco en el botón */
}

/* Footer styling */




/* Media queries para adaptabilidad */
/* Flexbox for layout */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Responsive design */
@media (max-width: 720px) {
  .container {
    padding: 20px;
  }

  h1 {
    font-size: 57px;
  }

  button {
    font-size: 14px;
  }
}

.sidebar {
  height: calc(100vh - 120px); /* Altura completa menos el espacio del header */
  width: 200px;
  position: fixed; /* Fijo para que no se mueva con el scroll */
  top: 80px; /* Espacio para el header */
  left: 0px; /* Empieza fuera de la vista */
  background: #1273eb;
  padding-top: 20px;
  transition: left 0.3s ease; /* Animación suave para mostrar/ocultar */
  z-index: 1000; /* Asegura que el sidebar esté encima de otros contenidos */
}

.sidebar button {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #0f265c;
  background: none;
  border: none;
  display: block;
  width: 80%;
  text-align: left;
  transition: 0.3s;
  cursor: pointer;
}

.sidebar button:hover {
  background-color: #29aecc;
  color: white;
  width: 85%;
}

.sidebar button.active {
  background-color: #99f1fd;
  color: #1a61a0;
}

.content {
  margin-left: 200px;
  padding: 20px;
}
