/* Estilos generales */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.header {
    width: calc(95% - 150px); /* Ajusta el ancho del header para dejar espacio a la barra lateral en pantallas pequeñas */
    margin-left: 150px; /* Ajusta el margen para alinear el header con el contenido principal */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    z-index: 500; /* Asegura que el header esté por debajo de la barra lateral */
    position: relative;
}

.header h2 {
  margin: 0;
  padding: 5px;
  font-size: 18px; /* Ajusta el tamaño del texto para pantallas pequeñas */
}

.user-profile {
  position: absolute;
  top: 10px;
  right: 5px;
  background-color: #29AECC;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px; /* Tamaño del icono reducido */
  font-weight: bold;
  text-align: center;
}

.user-profile i {
  margin: 0; /* Asegura que el ícono esté perfectamente centrado */
}

.main-container {
  display: flex;
  height: calc(100vh - 60px); /* Ajusta la altura para que la barra lateral y el contenido se ajusten a la pantalla */
}

.sidebar {
  width: 150px;
  background-color: #2cb5d3;
  color: #ffffff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh; /* Asegura que la barra lateral ocupe toda la altura de la ventana */
  z-index: 1000; /* Coloca la barra lateral sobre el header */
}

.logo {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.logo img {
  width: 100%;
  max-width: 120px; /* Ajusta el tamaño de la imagen del logo para pantallas pequeñas */
  margin-top: 10px; /* Ajusta este valor para controlar la posición vertical */
}

.sidebar button {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 14px; /* Ajusta el tamaño de la fuente para pantallas pequeñas */
  text-align: left;
  cursor: pointer;
  padding: 10px 5px;
  margin: 5px 0;
  transition: background-color 0.3s ease;
  width: 100%;
  display: flex;
  align-items: center;
}

.sidebar button i {
  margin-right: 8px;
}

.sidebar button:hover {
  background-color: #32c1e1;
}

.content {
  flex: 1;
  padding: 15px;
  background: #F3F5F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  margin-left: 150px; /* Deja espacio para la barra lateral */
  max-width: calc(100% - 170px); /* Asegura que el contenido no se salga del espacio restante */
  min-height: 100vh;
}

.content h3 {
  margin-bottom: 10px;
  color: #1A61A0;
  text-align: center; /* Centrar el texto */
  font-size: 20px; /* Ajusta el tamaño de la fuente del título */
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
}

.welcome {
  text-align: center;
  margin-bottom: 10px;
  color: #1A61A0;
}

.separator {
  width: 90%;
  max-width: 720px;
  border: 1px solid #29AECC;
  margin: 20px 0;
}

.container h2 {
  text-align: center;
  color: #1A61A0;
}

.account-balance {
  display: flex;
  align-items: center;
}

.account-balance p {
  margin-right: 10px;
  font-size: 16px; /* Ajusta el tamaño de la fuente */
}

.account-balance button {
  background: none;
  border: none;
  color: #1A61A0;
  font-size: 20px; /* Ajusta el tamaño del botón */
  cursor: pointer;
  transition: color 0.3s ease;
}

.account-balance button:focus {
  outline: none;
}

.account-balance button:hover {
  color: #29AECC;
}

.showAccounts {
  margin-top: 10px;
  width: 100%;
}

.showAccounts ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.showAccounts li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  border-radius: 5px;
  border: 1px solid #eee;
  margin-top: 5px;
}

.showAccounts li:hover {
  background-color: #f5f5f5;
}

.showAccounts .account-details {
  flex: 1;
}

.showAccounts .account-balance {
  text-align: right;
}

.showAccounts .account-balance p {
  margin: 0;
}

.button-container a {
  background-color: #1A61A0;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

.button-container a:hover {
  background-color: #007acc;
}

.container {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.account-details-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.currency-converter {
  padding: 15px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px; /* Ajusta el ancho del conversor de moneda */
  margin: 20px auto;
  text-align: center;
}

.currency-converter label {
  display: block;
  margin-bottom: 10px;
  color: #1A61A0;
  font-weight: bold;
  font-size: 14px; /* Ajusta el tamaño de la fuente */
}

.currency-converter input, .currency-converter select, .currency-converter button {
  width: 80%;
  padding: 8px; /* Ajusta el padding */
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px; /* Ajusta el tamaño de la fuente */
}

.currency-converter button {
  background-color: #1A61A0;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px; /* Ajusta el tamaño de la fuente */
}

.currency-converter button:hover {
  background-color: #007acc;
}
@media (max-width: 450px) {
  .sidebar {
    width: 120px; /* Reduce el ancho de la barra lateral */
  }

  .header {
    width: calc(90% - 120px); /* Ajusta el ancho del header en función del nuevo tamaño de la barra lateral */
    margin-left: 120px; /* Alinea el header con la barra lateral */
    padding: 10px; /* Reduce el padding */
    text-align: center;
  }

  .content {
    margin-left: 120px; /* Deja espacio para la barra lateral */
    max-width: calc(100% - 140px); /* Ajusta el contenido para que no se desborde */
  }

  .sidebar button {
    font-size: 10px; /* Reduce el tamaño de la fuente de los botones en la barra lateral */
    padding: 8px 4px; /* Reduce el padding de los botones */
  }

  .sidebar button i {
    margin-right: 5px; /* Ajusta el margen del icono */
  }

  .account-info {
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    padding: 10px; /* Ajusta el padding para asegurar una buena visualización */
    font-size: 12px; /* Reduce el tamaño de la fuente */
  }

  .account-details-wrapper {
    padding: 8px; /* Reduce el padding del contenedor */
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1); /* Ajusta la sombra para un efecto más ligero */
  }

  .account-details p {
    margin: 0 0 5px; /* Reduce el margen entre los párrafos */
    font-size: 12px; /* Ajusta el tamaño de la fuente */
  }

  .account-balance p {
    font-size: 14px; /* Reduce el tamaño de la fuente del saldo */
  }

  .account-balance button {
    font-size: 14px; /* Ajusta el tamaño de la fuente de los botones */
    padding: 4px; /* Reduce el padding de los botones */
  }

  .showAccounts ul {
    padding: 5px; /* Reduce el padding del listado */
  }

  .showAccounts li {
    padding: 8px; /* Reduce el padding de los elementos de la lista */
    font-size: 12px; /* Ajusta el tamaño de la fuente */
  }

  .currency-converter {
    max-width: 179px; /* Ajusta el ancho del conversor de moneda */
  }

  .currency-converter label, 
  .currency-converter input, 
  .currency-converter select, 
  .currency-converter button {
    font-size: 12px; /* Ajusta el tamaño de la fuente */
    padding: 5px; /* Ajusta el padding de los elementos */
  }

  .currency-converter button {
    padding: 8px; /* Ajusta el padding del botón */
  }

  .separator {
    width: 80%; /* Ajusta el ancho de la línea separadora */
    margin: 15px auto; /* Centra la línea separadora */
  }
}
