<header class="header">
  <h1>Horizon Bank</h1>
</header>
<div class="content">
  <div class="container">
    <h1>Transferencias</h1>
    <form (submit)="realizarTransferencia()">
      <!-- Cuenta Origen Field -->
      <div>
        <label for="cuentaOrigen">Cuenta Origen</label>
        <select id="cuentaOrigen" [(ngModel)]="cuentaOrigen" name="cuentaOrigen" (change)="onCuentaOrigenChange()" required>
          <option *ngFor="let cuenta of cuentas" [ngValue]="cuenta.numeroCuenta">{{ cuenta.numeroCuenta }}</option>
        </select>
        <small *ngIf="!cuentaOrigen">Selecciona una cuenta origen</small>
      </div>
      <!-- Saldo de la cuenta Origen -->
      <div *ngIf="cuentaOrigen">
        <label>Saldo de la cuenta origen: {{ saldoCuentaOrigen | currency }}</label>
      </div>
      <!-- Cuenta Destino Field -->
      <div>
        <label for="cuentaDestino">Cuenta Destino</label>
        <select id="cuentaDestino" [(ngModel)]="cuentaDestino" name="cuentaDestino" required>
          <option *ngFor="let cuenta of cuentas" [ngValue]="cuenta.numeroCuenta">{{ cuenta.numeroCuenta }}</option>
        </select>
        <small *ngIf="!cuentaDestino">Selecciona una cuenta destino</small>
      </div>

      <!-- Monto Field -->
      <div>
        <label for="monto">Monto</label>
        <input id="monto" type="number" [(ngModel)]="monto" name="monto" placeholder="Monto" min="1" required>
        <small *ngIf="!monto || monto <= 0">Ingresa un monto válido a transferir</small>
      </div>

      <!-- Descripción Field -->
      <div>
        <label for="descripcion">Descripción</label>
        <textarea id="descripcion" [(ngModel)]="descripcion" name="descripcion" rows="3" placeholder="Descripción"></textarea>
        <small *ngIf="!descripcion">Ingresa la descripción de la transferencia</small>
      </div>

      <div class="button-container">
        <button (click)="redirectTo('')">Regresar</button>
        <button type="submit" [disabled]="isProcessing || !cuentaOrigen || !cuentaDestino || !monto || monto <= 0 || !descripcion">Transferir</button>
      </div>
    </form>
  </div>
</div>
<footer class="footer">
  <div class="footer-content">
      <div class="footer-section">
          <p class="footer-brand">Horizon Bank</p>
      </div>
      <div class="footer-section">
          <h4>Ayuda y Contacto</h4>
          <p>+593999999999</p>
          <p><a href="#">Facebook</a></p>
          <p><a href="#">Instagram</a></p>
          <p><a href="#">LinkedIn</a></p>
      </div>
      <div class="footer-section">
          <h4>Sobre Nosotros</h4>
          <p><a href="#">Quiénes Somos</a></p>
          <p><a href="#">Trabaja con Nosotros</a></p>
          <p><a href="#">Transparencia</a></p>
      </div>
      <div class="footer-section">
          <h4>Más Servicios</h4>
          <p><a href="#">Transacciones en Línea</a></p>
      </div>
  </div>
</footer>