/* Estilos generales */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


/* Global styles */
@font-face {
  font-family: 'Magdelin Alt Regular';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt Regular.woff'),  format('woff');
  }
@font-face {
  font-family: 'Magdelin Alt Regular Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt Regular Italic.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt Thin';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt Thin.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt Thin Italic.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt ExtraLight';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt ExtraLight.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt ExtraLight Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt ExtraLight Italic.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt Light';
  font-style: normal;
  font-weight: normal;
  src:url('/assets/fonts/Magdelin Alt Light.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt Light Italic';
  font-style: normal;
  font-weight: normal;
  src:  url('/assets/fonts/Magdelin Alt Light Italic.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt Text';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt Text.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt Text Italic';
  font-style: normal;
  font-weight: normal;
  src:  url('/assets/fonts/Magdelin Alt Text Italic.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt Medium';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt Medium.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt Medium Italic.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt SemiBold';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt SemiBold.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt SemiBold Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt SemiBold Italic.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt Bold';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt Bold.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt Bold Italic.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt ExtraBold.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt ExtraBold Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt ExtraBold Italic.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt Black';
  font-style: normal;
  font-weight: normal;
  src:  url('/assets/fonts/Magdelin Alt Black.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Alt Black Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Alt Black Italic.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Regular';
  font-style: normal;
  font-weight: normal;
  src:  url('/assets/fonts/Magdelin Regular.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Regular Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Regular Italic.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Thin';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Thin.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Thin Italic.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin ExtraLight';
  font-style: normal;
  font-weight: normal;
  src:  url('/assets/fonts/Magdelin ExtraLight.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin ExtraLight Italic';
  font-style: normal;
  font-weight: normal;
  src:  url('/assets/fonts/Magdelin ExtraLight Italic.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin Light';
  font-style: normal;
  font-weight: normal;
  src:  url('/assets/fonts/Magdelin Light.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin Light Italic';
  font-style: normal;
  font-weight: normal;
  src:url('/assets/fonts/Magdelin Light Italic.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin Text';
  font-style: normal;
  font-weight: normal;
  src:  url('/assets/fonts/Magdelin Text.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin Text Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Text Italic.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin Medium';
  font-style: normal;
  font-weight: normal;
  src:  url('/assets/fonts/Magdelin Medium.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin Medium Italic';
  font-style: normal;
  font-weight: normal;
  src:  url('/assets/fonts/Magdelin Medium Italic.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin SemiBold';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin SemiBold.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin SemiBold Italic';
  font-style: normal;
  font-weight: normal;
  src:  url('/assets/fonts/Magdelin SemiBold Italic.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin Bold';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Bold.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin Bold Italic';
  font-style: normal;
  font-weight: normal;
  src:  url('/assets/fonts/Magdelin Bold Italic.woff'), format('woff');
  }
  @font-face {
  font-family: 'Magdelin ExtraBold';
  font-style: normal;
  font-weight: normal;
  src:  url('/assets/fonts/Magdelin ExtraBold.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin ExtraBold Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin ExtraBold Italic.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin Black';
  font-style: normal;
  font-weight: normal;
  src:  url('/assets/fonts/Magdelin Black.woff') ,format('woff');
  }
  @font-face {
  font-family: 'Magdelin Black Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Magdelin Black Italic.woff'), format('woff');
  }
/* styles.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;

}
.page-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header .logo {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center; /* Centrar verticalmente el contenido */
}
.logo img{
  height: 400px;
  width: auto;
  margin-right: 10px;
  margin-bottom: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1273EB/*#00AEEF*/;
  padding:  40px;
  position: static;
  top: 0;
  z-index: 1000;
  height: 55px;
}

.content {
  flex: 1 0 auto;
  padding: 20px;
  background:white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 620px;
  margin: 20px auto; /* Centraliza el contenedor */
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
  text-align: center;
  color: #0F265C;
  font-family: 'Magdelin Alt Bold';
}

.container form {
  display: flex;
  flex-direction: column;
}

.container form div {
  margin-bottom: 20px;
  padding: 10px;
}

.container form label {
  font-weight: bold;
}

.container form select,
.container form input[type="text"],
.container form input[type="number"],
.container form textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container form small {
  color: red;
  display: block;
  margin-top: 5px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button-container button {
  width: 50%;
  padding: 12px;
  background-color: #1273EB;
  color: #fff;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: #29AECC;
}

.button-container button:focus {
  outline: none;
}

/* Footer styling */

@media (max-width: 720px) {
  .container {
    padding: 20px;
  }

  .container h1 {
    font-size: 36px;
  }

  .button-container button {
    width: 100%;
    margin-top: 10px;
  }
}


/* Media Queries para Responsividad */
@media (max-width: 768px) {
  .footer-content {
      flex-direction: column;
      align-items: center;
  }

  .footer-content .footer-section {
      margin: 5px 0;
  }
}

@media (max-width: 480px) {
  .header h1 {
      font-size: 24px;
  }

  .container {
      width: 100%;
      padding: 10px;
  }

  .btn-primary {
      padding: 10px;
  }
}
/* Efecto de difuminado */
.content.blurred {
  filter: blur(5px);
  pointer-events: none;
}

/* Estilos para la ventana de confirmación */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.ventana-confirmacion {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.ventana-confirmacion h2 {
  margin-top: 0;
}

.ventana-confirmacion button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background: #1A61A0;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.ventana-confirmacion button:hover {
  background: #29AECC;
}

/* Estilos para el botón de confirmación de transferencia */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-container button {
  width: 200px;
  padding: 12px;
  background-color: #1A61A0;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  cursor: pointer;
  margin: 7px;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: #29AECC;
}

.button-container button:focus {
  outline: none;
}

.separator {
  width: 100%;
  max-width: 720px;
  border: 1px solid #29AECC;
  margin: 20px 0;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
  text-align: center;
  color: #1A61A0;
}

.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(255,255,240);
  background: linear-gradient(180deg, rgba(255,255,240,1) 40%, rgba(41,174,204,1) 100%);
  padding-top: 20px;
}

.sidebar button {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #1a61a0;
  background: none;
  border: none;
  display: block;
  width: 80%;
  text-align: left;
  transition: 0.3s;
  cursor: pointer;
}

.sidebar button:hover {
  background-color: #29aecc;
  color: white;
  width: 100%;
}

.sidebar button.active {
  background-color: #99f1fd;
  color: #1a61a0;
}