<header class="header">
  <h2>Horizon Bank</h2>
</header>
<div class="content" [class.blurred]="mostrarConfirmacion">
  <div class="sidebar">
    <button (click)="redirectTo('/')">Cerrar Sesion</button>
    <button (click)="redirectTo('visualizacion-saldo')">Visualizacion de saldo</button>
    <button (click)="redirectTo('cambio-contraseña')">Cambiar Contraseña</button>
    <button (click)="redirectTo('crear-cuenta')">Crear Cuenta</button>
  </div>
  <div class="container">
    <h1>Transferencias</h1>
    <form (submit)="confirmarTransferencia()">
      <!-- Cuenta Origen Field -->
      <div>
        <label for="cuentaOrigen">Cuenta Origen</label>
        <select id="cuentaOrigen" [(ngModel)]="cuentaOrigen" name="cuentaOrigen" (change)="onCuentaOrigenChange()" required>
          <option *ngFor="let cuenta of cuentas" [ngValue]="cuenta.numeroCuenta">{{ cuenta.numeroCuenta }}</option>
        </select>
        <small *ngIf="!cuentaOrigen">Selecciona una cuenta origen</small>
      </div>
      <!-- Saldo de la cuenta Origen -->
      <div *ngIf="cuentaOrigen">
        <label>Saldo de la cuenta origen: {{ saldoCuentaOrigen | currency }}</label>
      </div>
      <!-- Cuenta Destino Field -->
      <div>
        <label for="cuentaDestino">Cuenta Destino</label>
        <input id="cuentaDestino" type="text" [(ngModel)]="cuentaDestino" name="cuentaDestino" (blur)="buscarTitularCuentaDestino()" placeholder="Número de cuenta destino" required>
        <button type="button" (click)="buscarTitularCuentaDestino()" aria-label="Buscar cuenta">
          <mat-icon>search</mat-icon> <!-- Utiliza un ícono de búsqueda -->
        </button>
        <div *ngIf="nombreTitular && apellidoTitular">
          <p><strong>La cuenta pertenece a: {{ nombreTitular }} {{ apellidoTitular }}</strong></p>
        </div>
        <small *ngIf="!cuentaDestino">Ingresa un número de cuenta destino</small>
      </div>
      <!-- Monto Field -->
      <div>
        <label for="monto">Monto</label>
        <input id="monto" type="number" [(ngModel)]="monto" name="monto" placeholder="Monto" min="1" required>
        <small *ngIf="!monto || monto <= 0">Ingresa un monto válido a transferir</small>
      </div>
      <!-- Descripción Field -->
      <div>
        <label for="descripcion">Descripción</label>
        <textarea id="descripcion" [(ngModel)]="descripcion" name="descripcion" rows="3" placeholder="Pago Luz, etc."></textarea>
        <small *ngIf="descripcion.trim() === ''">Opcional</small>
      </div>
      <!-- Submit Button -->
      <div class="button-container">
        <button type="submit" [disabled]="isProcessing">Confirmar Transferencia</button>
      </div>
    </form>
  </div>
</div>
<!-- Confirmación -->
<div class="overlay" *ngIf="mostrarConfirmacion">
  <div class="ventana-confirmacion">
    <h2>Confirmar Transferencia</h2>
    <p>Cuenta Origen: {{ cuentaOrigen }}</p>
    <p>Cuenta Destino: {{ cuentaDestino }}</p>
    <p>Destinatario: {{ nombreTitular }} {{ apellidoTitular }}</p>
    <p>Monto: {{ monto | currency }}</p>
    <div>
      <label for="codigoVerificacion">Código de Verificación: </label>
      <input id="codigoVerificacion" type="text" [(ngModel)]="codigoIngresado" name="codigoVerificacion" placeholder="Ingresa el código de verificación" required>
    </div>
    <button (click)="realizarTransferencia()" [disabled]="isProcessing">Confirmar</button>
    <button (click)="cancelarConfirmacion()">Cancelar</button>
  </div>
</div>

<div class="footer">
  <div class="footer-column">
    <div>Horizon Bank</div>
  </div>
  <div class="footer-column">
    <div class="mi-div">Ayuda y Contacto</div>
    <div>+593999999999</div>
    <div>
      <a href="#">Facebook</a>
    </div>
    <div>
      <a href="#">Instagram</a>
    </div>
    <div>
      <a href="#">LinkedIn</a>
    </div>
  </div>
  <div class="footer-column">
    <div class="mi-div">Sobre Nosotros</div>
    <div>Quienes Somos</div>
    <div>Trabaja con Nosotros</div>
    <div>Transparencia</div>
  </div>
  <div class="footer-column">
    <div class="mi-div">Mas Servicios</div>
    <div>Transacciones en Linea</div>
  </div>
</div>