/* General Styles */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.header {
  width: calc(91% - 245px);
  margin-left: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 35px;
  z-index: 500;
  position: relative;
}

.header h2 {
  margin: 0;
  padding: 5px;
  color: #1A61A0;
}

.titulo {
  text-align: center;
  color: #1A61A0;
}

.user-profile {
  position: absolute;
  right: 5px;
  background-color: #29AECC;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-align: center;
}

.sidebar {
  width: 250px;
  background-color: #2cb5d3;
  color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1000;
}

.logo {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.logo img {
  width: 250px;
  margin-top: 10px;
}

.sidebar button {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 16px;
  text-align: left;
  cursor: pointer;
  padding: 15px 10px;
  margin: 5px 0;
  transition: background-color 0.3s ease;
  width: 100%;
  display: flex;
  align-items: center;
}

.sidebar button i {
  margin-right: 10px;
}

.sidebar button:hover {
  background-color: #32c1e1;
}

.content {
  flex: 1;
  padding: 20px;
  background: #F3F5F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  margin-left: 250px;
  max-width: calc(100% - 270px);
  min-height: 100vh;
}

.container {
  background-color: white;
  padding: 70px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 100px auto;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}

h2 {
  text-align: center;
  color: #1A61A0;
  font-family: 'Poppins', sans-serif; /* Cambia a 'Roboto' o 'Lato' si prefieres */
  font-weight: bold;
  font-size: 36px; /* Ajusta según prefieras */
  margin-bottom: 20px;
}

/* .form-group {
  margin-bottom: 15px;
  color: #1A61A0;
  font-weight: bold;
} */

.container form label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #1A61A0;
  display: block;
  padding: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea el texto a la izquierda */
  width: 100%;
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #1A61A0;
  width: 100%; /* Asegura que el label ocupe todo el ancho */
}

.form-control {
  width: 80%; /* Ajusta este valor para centrar el input */
  max-width: 400px; /* Establece un ancho máximo si lo prefieres */
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #323232;
  margin: 0 auto 20px auto; /* Centra el input */
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 80%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.button-container .btn-primary {
  width: 48%;
  padding: 12px;
  background-color: #1A61A0;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container .btn-primary:hover {
  background-color: #29AECC;
}

.button-container .btn-secondary {
  width: 48%;
  padding: 12px;
  background-color: #ccc;
  color: #333;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container .btn-secondary:hover {
  background-color: #999;
}
.text-danger {
  color: #dc3545;
  font-size: 0.9em;
  padding: 5px;
}

@media (max-width: 768px) {
  .container {
      width: 100%;
      padding: 10px;
  }

  .btn-primary {
      padding: 10px;
  }
}
