/* Global styles */
@font-face {
    font-family: 'Magdelin Alt Regular';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt Regular.woff'),  format('woff');
    }
  @font-face {
    font-family: 'Magdelin Alt Regular Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt Regular Italic.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt Thin';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt Thin.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt Thin Italic.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt ExtraLight';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt ExtraLight.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt ExtraLight Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt ExtraLight Italic.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt Light';
    font-style: normal;
    font-weight: normal;
    src:url('/assets/fonts/Magdelin Alt Light.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt Light Italic';
    font-style: normal;
    font-weight: normal;
    src:  url('/assets/fonts/Magdelin Alt Light Italic.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt Text';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt Text.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt Text Italic';
    font-style: normal;
    font-weight: normal;
    src:  url('/assets/fonts/Magdelin Alt Text Italic.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt Medium';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt Medium.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt Medium Italic.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt SemiBold';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt SemiBold.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt SemiBold Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt SemiBold Italic.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt Bold';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt Bold.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt Bold Italic.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt ExtraBold.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt ExtraBold Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt ExtraBold Italic.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt Black';
    font-style: normal;
    font-weight: normal;
    src:  url('/assets/fonts/Magdelin Alt Black.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt Black Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt Black Italic.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Regular';
    font-style: normal;
    font-weight: normal;
    src:  url('/assets/fonts/Magdelin Regular.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Regular Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Regular Italic.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Thin';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Thin.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Thin Italic.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin ExtraLight';
    font-style: normal;
    font-weight: normal;
    src:  url('/assets/fonts/Magdelin ExtraLight.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin ExtraLight Italic';
    font-style: normal;
    font-weight: normal;
    src:  url('/assets/fonts/Magdelin ExtraLight Italic.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin Light';
    font-style: normal;
    font-weight: normal;
    src:  url('/assets/fonts/Magdelin Light.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin Light Italic';
    font-style: normal;
    font-weight: normal;
    src:url('/assets/fonts/Magdelin Light Italic.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin Text';
    font-style: normal;
    font-weight: normal;
    src:  url('/assets/fonts/Magdelin Text.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin Text Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Text Italic.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin Medium';
    font-style: normal;
    font-weight: normal;
    src:  url('/assets/fonts/Magdelin Medium.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin Medium Italic';
    font-style: normal;
    font-weight: normal;
    src:  url('/assets/fonts/Magdelin Medium Italic.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin SemiBold';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin SemiBold.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin SemiBold Italic';
    font-style: normal;
    font-weight: normal;
    src:  url('/assets/fonts/Magdelin SemiBold Italic.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Bold';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Bold.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin Bold Italic';
    font-style: normal;
    font-weight: normal;
    src:  url('/assets/fonts/Magdelin Bold Italic.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin ExtraBold';
    font-style: normal;
    font-weight: normal;
    src:  url('/assets/fonts/Magdelin ExtraBold.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin ExtraBold Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin ExtraBold Italic.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin Black';
    font-style: normal;
    font-weight: normal;
    src:  url('/assets/fonts/Magdelin Black.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin Black Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Black Italic.woff'), format('woff');
    }
  /* styles.css */
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  
  }
  .page-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .header .logo {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center; /* Centrar verticalmente el contenido */
  }
  .logo img{
    height: 400px;
    width: auto;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1273EB/*#00AEEF*/;
    padding:  40px;
    position: static;
    top: 0;
    z-index: 1000;
    height: 55px;
  }
.container {
    background-color: white;
    padding: 70px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 100px auto;
    width: 90%;
    max-width: 600px;
}

h2 {
    text-align: center;
    color: #0F265C;
    font-family: 'Magdelin Alt Bold';
}

.form-group {
    margin-bottom: 15px;
    color: #0F265C;
    font-family: 'Magdelin Alt Bold';
}

.content {
    flex: 1 0 auto;
    min-height: calc(100vh - 120px);
    /* Ajusta el tamaño para asegurar que cubra todo el espacio disponible */
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: #323232;
    font-family: 'Magdelin Alt Regular';
    /* Asegura que el padding se incluya en el ancho total */
}

select.form-control {
    appearance: none;
    /* Elimina el estilo predeterminado del selector */
    -webkit-appearance: none;
    /* Para navegadores basados en WebKit */
    -moz-appearance: none;
    /* Para Firefox */
}

.button-container .btn-primary {
    background-color: #1273EB;
    padding: 10px 20px;
    font-family: 'Magdelin Alt Regular';
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 50px;
    width: 100%;
}

.button-container .btn-primary:disabled {
    background-color:  #1273EB;
    border-color:   #1273EB;
}

.button-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente los botones */
    gap: 10px;
    margin-top: 15px;
  }
  
  .button-container .btn {
    width: 150px;
    padding: 10px;
    background-color: #1A61A0;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin:5px;
    position: sticky;
  }
  
  .button-container .btn:hover {
    background-color: #29AECC;
  }

.text-danger {
    color: #dc3545;
    font-size: 0.9em;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-content .footer-section {
        margin: 5px 0;
    }
}

@media (max-width: 480px) {
    .header h1 {
        font-size: 24px;
    }

    .container {
        width: 100%;
        padding: 10px;
    }

    .btn-primary {
        padding: 10px;
    }
}
.sidebar-wrapper {
  position: relative; /* Necesario para la posición absoluta del sidebar */
  overflow: hidden; /* Oculta cualquier contenido que se salga del contenedor */
  width: 250px;
}

.sidebar {
  height: calc(100vh - 80px); /* Altura completa menos el espacio del header */
  width: 200px;
  position: fixed; /* Fijo para que no se mueva con el scroll */
  top: 80px; /* Espacio para el header */
  left: 0px; /* Empieza fuera de la vista */
  background: #1273eb;
  padding-top: 20px;
  transition: left 0.3s ease; /* Animación suave para mostrar/ocultar */
  z-index: 1000; /* Asegura que el sidebar esté encima de otros contenidos */
}

.sidebar-wrapper:hover .sidebar {
  left: 0; /* Mostrar la sidebar cuando el mouse esté sobre el contenedor */
}


.sidebar button {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #0f2676;
  background: none;
  border: none;
  display: block;
  width: 80%;
  text-align: left;
  transition: 0.3s;
  cursor: pointer;
}
  
  .sidebar button:hover {
    background-color: #29aecc;
    color: white;
    width: 100%;
  }
  
  .sidebar button.active {
    background-color: #99f1fd;
    color: #1a61a0;
  }