<div class="header">
    <div class="logo">
      <!--<h1>Horizon Bank</h1>-->
      <img src="assets/sello1.png" alt="icon">
    </div>
  </div>


  <div class="sidebar-wrapper">
    <div class="sidebar">
        <button (click)="redirectTo('/')">Cerrar Sesion</button>
        <button (click)="redirectTo('visualizacion-saldo')">Visualizacion de saldo</button>
        <button (click)="redirectTo('cambio-contraseña')">Cambio de Contraseña</button>
        <button (click)="redirectTo('transferencia')">Transferencia</button>
      </div>
    </div>
<div class="content"> <!-- Añadido el contenedor content -->
    <div class="container">
        <h2>Agregar Cuenta Adicional</h2>
        <form [formGroup]="cuentaForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="tipo">Tipo de Cuenta</label>
                <select id="tipo" formControlName="tipo" class="form-control">
                    <option value="" disabled selected>Seleccione el tipo de cuenta</option>
                    <option value="ahorros">Ahorros</option>
                    <option value="corriente">Corriente</option>
                </select>
                <div *ngIf="cuentaForm.get('tipo')?.invalid && cuentaForm.get('tipo')?.touched" class="text-danger">
                    Tipo de cuenta es requerido
                </div>
            </div>
            

            <div class="form-group">
                <label for="saldoInicial">Saldo Inicial</label>
                <input id="saldoInicial" formControlName="saldoInicial" type="number" class="form-control" value="0" readonly>
                <div *ngIf="cuentaForm.get('saldoInicial')?.invalid && cuentaForm.get('saldoInicial')?.touched"
                    class="text-danger">
                    Saldo inicial es requerido y debe ser un número positivo
                </div>
            </div>
            <div class="button-container">
                <button type="submit" class="btn btn-primary" [disabled]="cuentaForm.invalid || isProcessing">Agregar Cuenta</button>
            </div>
        </form>
    </div>
</div> <!-- Cierre del contenedor content -->

