/* Global styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  .header {
    width: calc(91% - 245px);
    margin-left: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 35px;
    z-index: 500;
    position: relative;
  }
  
  .header h2 {
    margin: 0;
    padding: 5px;
    color: #1A61A0;
  }

  h2 {
    text-align: center;
    color: #1A61A0;
    font-family: 'Poppins', sans-serif; /* Cambia a 'Roboto' o 'Lato' si prefieres */
    font-weight: bold;
    font-size: 36px; /* Ajusta según prefieras */
    margin-bottom: 20px;
  }

  .titulo {
    text-align: center;
    color: #1A61A0;
  }
  
  .user-profile {
    position: absolute;
    right: 5px;
    background-color: #29AECC;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-align: center;
  }
  
  .sidebar {
    width: 250px;
    background-color: #2cb5d3;
    color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1000;
  }
  
  .logo {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .logo img {
    width: 250px;
    margin-top: 10px;
  }
  
  .sidebar button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
    padding: 15px 10px;
    margin: 5px 0;
    transition: background-color 0.3s ease;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .sidebar button i {
    margin-right: 10px;
  }
  
  .sidebar button:hover {
    background-color: #32c1e1;
  }
  
  .content {
    flex: 1;
    padding: 20px;
    background: #F3F5F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    margin-left: 250px;
    max-width: calc(100% - 270px);
    min-height: 100vh;
  }
  
  .container {
    background-color: white;
    padding: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 100px auto;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
  }
  
  .container h2 {
    color: #1A61A0;
    font-family: 'Magdelin Alt Bold';
    font-size: 32px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
    color: #1A61A0;
    font-weight: bold;
  }
  
  .container form label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #1A61A0;
    display: block;
    padding: 5px;
  }
  
  .form-control {
    width: 80%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #323232;
    margin: 10px auto;
    display: block;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 80%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .button-container .btn-primary {
    width: 48%;
    padding: 12px;
    background-color: #1A61A0;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-container .btn-primary:hover {
    background-color: #29AECC;
  }
  
  .button-container .btn-secondary {
    width: 48%;
    padding: 12px;
    background-color: #ccc;
    color: #333;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-container .btn-secondary:hover {
    background-color: #999;
  }
  
  .criteria ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #1A61A0;
  }
  
  .criteria ul li {
    margin: 5px 0;
    color: red;
  }
  
  .criteria ul li.valid {
    color: green;
  }
  
  small {
    display: block;
    margin-top: 5px;
    color: red;
    font-size: 14px;
    text-align: left;
  }
  
  
/* Media queries para pantallas pequeñas */
@media (max-width: 450px) {
  .sidebar {
      width: 120px; /* Reduce el ancho de la barra lateral */
      padding: 5px; /* Reduce el padding para adaptarse mejor */
  }

  .logo img {
    width: 125px; /* Reduce el ancho del logo para pantallas de 450px o menos */
    margin-top: 5px; /* Reduce el margen superior si es necesario */
  }

  .header {
      width: calc(100% - 120px); /* Ajusta el ancho del header en función del nuevo tamaño de la barra lateral */
      margin-left: 100px; /* Alinea el header con la barra lateral */
      padding: 10px; /* Reduce el padding */
      text-align: center;
  }
  .header h2 {
    font-size: 18px; /* Reduce el tamaño del título */
  }

  .user-profile {
      width: 30px; /* Reduce el tamaño del perfil de usuario */
      height: 30px; /* Reduce el tamaño del perfil de usuario */
      font-size: 14px; /* Reduce el tamaño del icono */
  }

  .content {
      margin-left: 100px; /* Deja espacio para la barra lateral */
      max-width: calc(100% - 120px); /* Ajusta el contenido para que no se desborde */
  }

  .sidebar button {
      font-size: 12px; /* Reduce el tamaño de la fuente de los botones en la barra lateral */
      padding: 8px 4px; /* Reduce el padding de los botones */
  }

  .sidebar button i {
      margin-right: 5px; /* Ajusta el margen del icono */
  }

  .container {
      padding: 20px; /* Reduce el padding dentro del contenedor */
      margin: 50px auto; /* Reduce el margen superior */
      max-width: 90%; /* Asegura que el contenedor no se desborde */
  }

  .container h2 {
      font-size: 20px; /* Ajusta el tamaño de la fuente en el título */
  }

  .form-control {
      width: 90%; /* Ajusta el ancho del input */
      padding: 8px; /* Reduce el padding del input */
      font-size: 14px; /* Reduce el tamaño de la fuente */
  }

  .button-container {
      flex-direction: column; /* Cambia la dirección a columna */
      width: 100%; /* Asegura que el contenedor de botones ocupe todo el ancho disponible */
  }

  .button-container .btn-primary, 
  .button-container .btn-secondary {
      width: 100%; /* Asegura que los botones ocupen todo el ancho disponible */
      margin-bottom: 10px; /* Añade un margen inferior para separar los botones */
  }

  .criteria ul li {
      font-size: 12px; /* Reduce el tamaño de la fuente */
  }

  small {
      font-size: 12px; /* Reduce el tamaño de la fuente de los mensajes de error */
  }
}