<div class="header">
  <div class="user-profile">
    <i class="fas fa-user"></i>
  </div>
  <div class="titulo">
    <h2>Cambio de Contraseña</h2>
  </div>
</div>

<div class="content">
  <div class="sidebar">
    <div class="logo">
      <img src="assets/logo3.1.png" alt="icon">
    </div>
    <button (click)="redirectTo('visualizacion-saldo')"><i class="fas fa-eye"></i> Visualización de saldo</button>
    <button (click)="redirectTo('crear-cuenta')"><i class="fas fa-plus"></i> Agregar Cuenta</button>
    <button (click)="redirectTo('transferencia')"><i class="fas fa-exchange-alt"></i> Transferencia</button>
    <button (click)="redirectTo('historial-transferencias')"><i class="fas fa-history"></i> Historial de Transferencias</button>
    <button (click)="redirectTo('seleccion-servicio')"><i class="fas fa-money-bill-wave"></i> Pagar Servicios</button>
    <button (click)="redirectTo('/')"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</button>
  </div>

  <div class="container">
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="passwordActual">Contraseña Actual</label>
        <input id="passwordActual" formControlName="passwordActual" type="password" class="form-control" />
      </div>
      <div class="form-group">
        <label for="passwordNueva">Nueva Contraseña</label>
        <input id="passwordNueva" formControlName="passwordNueva" type="password" class="form-control" />
        <small *ngIf="form.get('passwordNueva')?.invalid && form.get('passwordNueva')?.touched">
          <span *ngIf="form.get('passwordNueva')?.errors?.['required']">Contraseña es requerida</span>
          <span *ngIf="form.get('passwordNueva')?.errors?.['passwordInvalid']">Contraseña no cumple con los requisitos</span>
        </small>
      </div>
      <div class="criteria">
        <ul>
          <li [class.valid]="passwordCriteria.length">Al menos 6 caracteres</li>
          <li [class.valid]="passwordCriteria.uppercase">Al menos un caracter en mayúsculas</li>
          <li [class.valid]="passwordCriteria.number">Al menos un número</li>
          <li [class.valid]="passwordCriteria.specialChar">Al menos un caracter especial</li>
        </ul>
      </div>
      <div class="form-group">
        <label for="passwordConf">Confirmar Contraseña</label>
        <input id="passwordConf" formControlName="passwordConf" type="password" class="form-control" />
        <small *ngIf="form.get('passwordConf')?.invalid && form.get('passwordConf')?.touched">
          <span *ngIf="form.get('passwordConf')?.errors?.['required']">Confirmar contraseña es requerida</span>
        </small>
        <small *ngIf="form.errors?.['mismatch'] && form.get('passwordConf')?.touched">
          <span>Las contraseñas no coinciden</span>
        </small>
      </div>
      <div class="button-container">
        <button (click)="redirectTo('visualizacion-saldo')" class="btn-secondary">Regresar</button>
        <button type="submit" class="btn-primary" [disabled]="isProcessing ">Cambiar Contraseña</button>
      </div>
    </form>
  </div>
</div>
