<div class="header">
  <div class="logo">
    <!--<h1>Horizon Bank</h1>-->
    <img src="assets/sello1.png" alt="icon">
  </div>
</div>
  <div class="sidebar">
    <button (click)="redirectTo('/')">Cerrar Sesion</button>
    <button (click)="redirectTo('visualizacion-saldo')">Visualizacion de saldo</button>
    <button (click)="redirectTo('crear-cuenta')">Agregar Cuenta</button>
    <button (click)="redirectTo('transferencia')">Transferencia</button>
  </div>
  <div class="content">
    <div class="container">
      <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>
      <h2>Cambio de Contraseña</h2>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="passwordActual">Contraseña Actual</label>
            <input id="passwordActual" formControlName="passwordActual" type="password"/>
          </div>
          <div class="form-group">
            <label for="passwordNueva">Nueva Contraseña</label>
            <input id="passwordNueva" formControlName="passwordNueva" type="password"/>
            <br>
            <small *ngIf="form.get('passwordNueva')?.invalid && form.get('passwordNueva')?.touched">
              <span *ngIf="form.get('passwordNueva')?.errors?.['required']">Contraseña es requerida</span>
              <span *ngIf="form.get('passwordNueva')?.errors?.['passwordInvalid']">Contraseña no cumple con los requisitos</span>
            </small>
          </div>
          <div>  
            <ul>
                <li [class.valid]="passwordCriteria.length">Al menos 6 caracteres</li>
                <li [class.valid]="passwordCriteria.uppercase">Al menos un caracter en mayúsculas</li>
                <li [class.valid]="passwordCriteria.number">Al menos un número</li>
                <li [class.valid]="passwordCriteria.specialChar">Al menos un caracter especial</li>
            </ul>
          </div>
          <div class="form-group">
            <label for="passwordConf">Confirmar Contraseña:</label>
            <input id="passwordConf" formControlName="passwordConf" type="password" />
            <small *ngIf="form.get('passwordConf')?.invalid && form.get('passwordConf')?.touched">
                <span *ngIf="form.get('passwordConf')?.errors?.['required']">Confirmar contraseña es requerida</span>
            </small>
            <small *ngIf="form.errors?.['mismatch'] && form.get('passwordConf')?.touched">
                <span>Las contraseñas no coinciden</span>
            </small>
          </div>
          <div class="button-container">
            <button type="submit" [disabled]="isProcessing ">Cambiar Contraseña</button>        
          </div>
      </form>
    </div>
  </div>



  
  
