/* Global styles */
@font-face {
    font-family: 'Magdelin Alt Regular';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt Regular.woff'),  format('woff');
    }
  @font-face {
    font-family: 'Magdelin Alt Regular Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt Regular Italic.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt Thin';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt Thin.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt Thin Italic.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt ExtraLight';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt ExtraLight.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt ExtraLight Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt ExtraLight Italic.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt Light';
    font-style: normal;
    font-weight: normal;
    src:url('/assets/fonts/Magdelin Alt Light.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt Light Italic';
    font-style: normal;
    font-weight: normal;
    src:  url('/assets/fonts/Magdelin Alt Light Italic.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt Text';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt Text.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt Text Italic';
    font-style: normal;
    font-weight: normal;
    src:  url('/assets/fonts/Magdelin Alt Text Italic.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt Medium';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt Medium.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt Medium Italic.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt SemiBold';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt SemiBold.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt SemiBold Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt SemiBold Italic.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt Bold';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt Bold.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt Bold Italic.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt ExtraBold.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt ExtraBold Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt ExtraBold Italic.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt Black';
    font-style: normal;
    font-weight: normal;
    src:  url('/assets/fonts/Magdelin Alt Black.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt Black Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt Black Italic.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Regular';
    font-style: normal;
    font-weight: normal;
    src:  url('/assets/fonts/Magdelin Regular.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Regular Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Regular Italic.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Thin';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Thin.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Thin Italic.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin ExtraLight';
    font-style: normal;
    font-weight: normal;
    src:  url('/assets/fonts/Magdelin ExtraLight.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin ExtraLight Italic';
    font-style: normal;
    font-weight: normal;
    src:  url('/assets/fonts/Magdelin ExtraLight Italic.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin Light';
    font-style: normal;
    font-weight: normal;
    src:  url('/assets/fonts/Magdelin Light.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin Light Italic';
    font-style: normal;
    font-weight: normal;
    src:url('/assets/fonts/Magdelin Light Italic.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin Text';
    font-style: normal;
    font-weight: normal;
    src:  url('/assets/fonts/Magdelin Text.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin Text Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Text Italic.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin Medium';
    font-style: normal;
    font-weight: normal;
    src:  url('/assets/fonts/Magdelin Medium.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin Medium Italic';
    font-style: normal;
    font-weight: normal;
    src:  url('/assets/fonts/Magdelin Medium Italic.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin SemiBold';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin SemiBold.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin SemiBold Italic';
    font-style: normal;
    font-weight: normal;
    src:  url('/assets/fonts/Magdelin SemiBold Italic.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Bold';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Bold.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin Bold Italic';
    font-style: normal;
    font-weight: normal;
    src:  url('/assets/fonts/Magdelin Bold Italic.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin ExtraBold';
    font-style: normal;
    font-weight: normal;
    src:  url('/assets/fonts/Magdelin ExtraBold.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin ExtraBold Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin ExtraBold Italic.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin Black';
    font-style: normal;
    font-weight: normal;
    src:  url('/assets/fonts/Magdelin Black.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin Black Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Black Italic.woff'), format('woff');
    }
  /* styles.css */
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  
  }
  .page-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .header .logo {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center; /* Centrar verticalmente el contenido */
  }
  .logo img{
    height: 400px;
    width: auto;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1273EB/*#00AEEF*/;
    padding:  40px;
    position: static;
    top: 0;
    z-index: 1000;
    height: 55px;
  }














form div {
    margin-bottom: 15px;
    text-align: left;
}

.content {
    flex: 1 0 auto;
    padding: 20px;
    background: #fff;
    display: flex; 
}
 
.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-bottom: 20px; /* Añadir espacio para el footer */
}

.container h2 {
    text-align: center;
    color: #1A61A0;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

label {
    flex: 1;
    margin-right: 10px;
    font-weight: bold;
    color: #1A61A0;
    margin-left: 40px;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #EBEBEB;
    text-align: center;
    margin-right: 40px;
}

.button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.button-container button {
    width: 30%;
    padding: 10px;
    background-color: #1A61A0;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin:5px;
    position: sticky;
}

.button-container button:hover {
    background-color: #29AECC;
}

small {
    color: #E82F1F;
}

/* Footer styling */
.footer {
    background-color: #29AECC;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    overflow: hidden;
}

.footer-column {
    padding: 10px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea el contenido de cada columna a la izquierda */
}

.mi-div {
    font-weight: bold;
}

.footer a {
    color: #F7F4E7;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}

/* Flexbox for layout */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Responsive design */
/* Pequeñas pantallas (móviles) */
@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    .form-group {
        flex-direction: column;
        align-items: center;
    }

    label, input {
        width: 80%;
        margin: 0;
        margin-bottom: 5px;
    }

    h1 {
        font-size: 24px;
    }

    button {
        font-size: 14px;
    }

    .button-container button {
        width: 100%;
    }
}

/* Pantallas medianas (tablets) */
@media (min-width: 601px) and (max-width: 1024px) {
    .container {
        padding: 30px;
    }

    .form-group {
        flex-direction: column;
        align-items: center;
    }

    label, input {
        width: 90%;
        margin: 0;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 32px;
    }

    button {
        font-size: 16px;
    }

    .button-container button {
        width: 45%;
    }
}

/* Pantallas grandes (desktops y laptops) */
@media (min-width: 1025px) and (max-width: 1280px) {
    .header {
        height: 100px;
    }

    .header h2 {
        padding: 20px;
    }

    .container {
        height: auto;
        padding: 40px;
        margin-top: 100px;
    }

    .content {
        height: auto;
    }

    .form-group {
        flex-direction: row;
        align-items: center;
    }

    label, input {
        width: 45%;
        margin: 0;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 40px;
    }

    button {
        font-size: 18px;
    }
}

small {
    color: #E82F1F;
}
/* ingresar-credenciales.component.css */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    color: red;
}

li.valid {
    color: green;
}

/* Pantallas extra grandes (grandes desktops) */
@media (min-width: 1281px) {
    .header {
        height: 100px;
    }

    .header h2 {
        padding: 20px;
    }

    .container {
        height: auto;
        padding: 50px;
        margin-top: 150px;
    }

    .content {
        height: auto;
    }

    .form-group {
        flex-direction: row;
        align-items: center;
    }

    label, input {
        width: 45%;
        margin: 0;
        margin-bottom: 15px;
    }

    h1 {
        font-size: 48px;
    }

    button {
        font-size: 20px;
    }
}
.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(255,255,240);
    background: linear-gradient(180deg, rgba(255,255,240,1) 40%, rgba(41,174,204,1) 100%);
    padding-top: 20px;
  }

.sidebar button {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #1a61a0;
    background: none;
    border: none;
    display: block;
    width: 80%;
    text-align: left;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .sidebar button:hover {
    background-color: #29aecc;
    color: white;
    width: 100%;
  }
  
  .sidebar button.active {
    background-color: #99f1fd;
    color: #1a61a0;
  }
  