<div class="header">
    <h2>Horizon Bank</h2>
  </div>
  <div class="content">
    <div class="container">
      <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>
      <h2>Cambio de Contraseña</h2>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="passwordActual">Contraseña Actual</label>
            <input id="passwordActual" formControlName="passwordActual" type="password"/>
          </div>
          <div class="form-group">
            <label for="passwordNueva">Nueva Contraseña</label>
            <input id="passwordNueva" formControlName="passwordNueva" type="password"/>
            <br>
            <small *ngIf="form.get('passwordNueva')?.invalid && form.get('passwordNueva')?.touched">
              <span *ngIf="form.get('passwordNueva')?.errors?.['required']">Contraseña es requerida</span>
              <span *ngIf="form.get('passwordNueva')?.errors?.['passwordInvalid']">Contraseña no cumple con los requisitos</span>
            </small>
          </div>
          <div>  
            <ul>
                <li [class.valid]="passwordCriteria.length">Al menos 6 caracteres</li>
                <li [class.valid]="passwordCriteria.uppercase">Al menos un caracter en mayúsculas</li>
                <li [class.valid]="passwordCriteria.number">Al menos un número</li>
                <li [class.valid]="passwordCriteria.specialChar">Al menos un caracter especial</li>
            </ul>
          </div>
          <div class="form-group">
            <label for="passwordConf">Confirmar Contraseña:</label>
            <input id="passwordConf" formControlName="passwordConf" type="password" />
            <small *ngIf="form.get('passwordConf')?.invalid && form.get('passwordConf')?.touched">
                <span *ngIf="form.get('passwordConf')?.errors?.['required']">Confirmar contraseña es requerida</span>
            </small>
            <small *ngIf="form.errors?.['mismatch'] && form.get('passwordConf')?.touched">
                <span>Las contraseñas no coinciden</span>
            </small>
          </div>
          <div class="button-container">
            <button type="button" (click)="redirectTo('visualizacion-saldo')">Regresar</button>
            <button type="submit">Cambiar Contraseña</button>        
          </div>
      </form>
    </div>
  </div>
  <div class="footer">
    <div class="footer-column">
      <div>Horizon Bank</div>
    </div>
    <div class="footer-column">
      <div class="mi-div">Ayuda y Contacto</div>
      <div>+593999999999</div>
      <div>
        <a href="#">Facebook</a>
      </div>
      <div>
        <a href="#">Instagram</a>
      </div>
      <div>
        <a href="#">LinkedIn</a>
      </div>
    </div>
    <div class="footer-column">
      <div class="mi-div">Sobre Nosotros</div>
      <div>Quienes Somos</div>
      <div>Trabaja con Nosotros</div>
      <div>Trasparencia</div>
    </div>
    <div class="footer-column">
      <div class="mi-div">Mas Servicios</div>
      <div>Transacciones en Linea</div>
    </div>
  </div>
  
