body, html {
    font-family: 'Arial', sans-serif;
    background-color: #99f1fd;
    margin: 0;
    padding: 0;
    height: 100%;
}

.header {
    background-color: #29AECC;
    color: #fff; 
    padding: 10px 0;
    margin: 0;
    text-align: center;
}

.content {
    flex: 1 0 auto;
    padding: 20px;
    background: #99f1fd;
    display: flex; 
}
 
.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px; /* Añadir espacio para el footer */
}

.container h2 {
    text-align: center;
    color: #1A61A0;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

label {
    flex: 1;
    margin-right: 10px;
    font-weight: bold;
    color: #1A61A0;
    margin-left: 40px;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #EBEBEB;
    text-align: center;
    margin-right: 40px;
}

.button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.button-container button {
    width: 30%;
    padding: 10px;
    background-color: #1A61A0;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin:5px;
    position: sticky;
}

.button-container button:hover {
    background-color: #29AECC;
}

small {
    color: #E82F1F;
}
ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    color: red;
  }
  
  li.valid {
    color: green;
  }
  

/* Footer styling */
.footer {
    background-color: #29AECC;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    overflow: hidden;
}

.footer-column {
    padding: 10px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea el contenido de cada columna a la izquierda */
}

.mi-div {
    font-weight: bold;
}

.footer a {
    color: #F7F4E7;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}

/* Flexbox for layout */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Responsive design */
/* Pequeñas pantallas (móviles) */
@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    .form-group {
        flex-direction: column;
        align-items: center;
    }

    label, input {
        width: 80%;
        margin: 0;
        margin-bottom: 5px;
    }

    h1 {
        font-size: 24px;
    }

    button {
        font-size: 14px;
    }

    .button-container button {
        width: 100%;
    }
}

/* Pantallas medianas (tablets) */
@media (min-width: 601px) and (max-width: 1024px) {
    .container {
        padding: 30px;
    }

    .form-group {
        flex-direction: column;
        align-items: center;
    }

    label, input {
        width: 90%;
        margin: 0;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 32px;
    }

    button {
        font-size: 16px;
    }

    .button-container button {
        width: 45%;
    }
}

/* Pantallas grandes (desktops y laptops) */
@media (min-width: 1025px) and (max-width: 1280px) {
    .header {
        height: 100px;
    }

    .header h2 {
        padding: 20px;
    }

    .container {
        height: auto;
        padding: 40px;
        margin-top: 100px;
    }

    .content {
        height: auto;
    }

    .form-group {
        flex-direction: row;
        align-items: center;
    }

    label, input {
        width: 45%;
        margin: 0;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 40px;
    }

    button {
        font-size: 18px;
    }
}

/* Pantallas extra grandes (grandes desktops) */
@media (min-width: 1281px) {
    .header {
        height: 100px;
    }

    .header h2 {
        padding: 20px;
    }

    .container {
        height: auto;
        padding: 50px;
        margin-top: 150px;
    }

    .content {
        height: auto;
    }

    .form-group {
        flex-direction: row;
        align-items: center;
    }

    label, input {
        width: 45%;
        margin: 0;
        margin-bottom: 15px;
    }

    h1 {
        font-size: 48px;
    }

    button {
        font-size: 20px;
    }
}