/* Global styles */
@font-face {
    font-family: 'Magdelin Alt Regular';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt Regular.woff'),  format('woff');
    }
  @font-face {
    font-family: 'Magdelin Alt Regular Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt Regular Italic.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt Thin';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt Thin.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt Thin Italic.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt ExtraLight';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt ExtraLight.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt ExtraLight Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt ExtraLight Italic.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt Light';
    font-style: normal;
    font-weight: normal;
    src:url('/assets/fonts/Magdelin Alt Light.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt Light Italic';
    font-style: normal;
    font-weight: normal;
    src:  url('/assets/fonts/Magdelin Alt Light Italic.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt Text';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt Text.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt Text Italic';
    font-style: normal;
    font-weight: normal;
    src:  url('/assets/fonts/Magdelin Alt Text Italic.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt Medium';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt Medium.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt Medium Italic.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt SemiBold';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt SemiBold.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt SemiBold Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt SemiBold Italic.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt Bold';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt Bold.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt Bold Italic.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt ExtraBold.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt ExtraBold Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt ExtraBold Italic.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt Black';
    font-style: normal;
    font-weight: normal;
    src:  url('/assets/fonts/Magdelin Alt Black.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Alt Black Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Alt Black Italic.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Regular';
    font-style: normal;
    font-weight: normal;
    src:  url('/assets/fonts/Magdelin Regular.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Regular Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Regular Italic.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Thin';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Thin.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Thin Italic.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin ExtraLight';
    font-style: normal;
    font-weight: normal;
    src:  url('/assets/fonts/Magdelin ExtraLight.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin ExtraLight Italic';
    font-style: normal;
    font-weight: normal;
    src:  url('/assets/fonts/Magdelin ExtraLight Italic.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin Light';
    font-style: normal;
    font-weight: normal;
    src:  url('/assets/fonts/Magdelin Light.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin Light Italic';
    font-style: normal;
    font-weight: normal;
    src:url('/assets/fonts/Magdelin Light Italic.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin Text';
    font-style: normal;
    font-weight: normal;
    src:  url('/assets/fonts/Magdelin Text.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin Text Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Text Italic.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin Medium';
    font-style: normal;
    font-weight: normal;
    src:  url('/assets/fonts/Magdelin Medium.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin Medium Italic';
    font-style: normal;
    font-weight: normal;
    src:  url('/assets/fonts/Magdelin Medium Italic.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin SemiBold';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin SemiBold.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin SemiBold Italic';
    font-style: normal;
    font-weight: normal;
    src:  url('/assets/fonts/Magdelin SemiBold Italic.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin Bold';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Bold.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin Bold Italic';
    font-style: normal;
    font-weight: normal;
    src:  url('/assets/fonts/Magdelin Bold Italic.woff'), format('woff');
    }
    @font-face {
    font-family: 'Magdelin ExtraBold';
    font-style: normal;
    font-weight: normal;
    src:  url('/assets/fonts/Magdelin ExtraBold.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin ExtraBold Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin ExtraBold Italic.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin Black';
    font-style: normal;
    font-weight: normal;
    src:  url('/assets/fonts/Magdelin Black.woff') ,format('woff');
    }
    @font-face {
    font-family: 'Magdelin Black Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Magdelin Black Italic.woff'), format('woff');
    }
  /* styles.css */
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  
  }
  .page-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .header .logo {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center; /* Centrar verticalmente el contenido */
  }
  .logo img{
    height: 400px;
    width: auto;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1273EB/*#00AEEF*/;
    padding:  40px;
    position: static;
    top: 0;
    z-index: 1000;
    height: 55px;
  }


  .content {
    flex: 1 ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #fff;
  }

  
  .verify-container {
    width: 50%;
    padding: 50px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }
  .verify-container:hover{
      transform: translateY(-5px); /* Eleva la caja al pasar el mouse */
      box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  }
  .verify-container h2 {
    color: #323232;
    font-family: 'Magdelin Alt Bold';
    font-size: 50px;
  }
  .verify-container p {
    margin-bottom: 20px;
    color:     #22395D;
    font-family: 'Magdelin Alt Bold';
    font-size: 20px;
  }
  .code-inputs {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  .verify-container input {
    width: 80%;
    
    padding: 10px;
    font-size: 28px;
    border: 1px solid #ccc;
    background: #EBEBEB;
    border-radius: 5px;
    text-align: left;
    box-sizing: border-box;
  }
  .verify-container button {
    width: 50%;
    padding: 15px;
    margin-top: 10px;
    background-color: #1273EB;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
    font-family: 'Magdelin Alt Bold';
  }
  .verify-container .button-container {
    display: flex;
    justify-content: space-between; /* Espacio igual entre los botones */
    align-items: center;
    margin-top: 30px; /* Más espacio arriba de los botones */
}

.verify-container .button-container button {
    width: 45%; /* Ajuste de ancho para los botones individuales */
    font-size: 22px; /* Ajustar el tamaño del texto de los botones */
}
  .verify-container button:hover {
    background-color: #29AECC;
  }

.verify-container .form-group {
    display: flex;
    justify-content: space-between; /* Asegura que la etiqueta y el campo estén en línea */
    align-items: center; /* Alinea verticalmente las etiquetas con los campos */
    margin-bottom: 30px; /* Añadir más espacio entre los grupos de formularios */
}

.verify-container .form-group label {
    flex: 1; /* Permite que la etiqueta ocupe su propio espacio */
    text-align: right; /* Alinea el texto de la etiqueta a la derecha */
    margin-right: 20px; /* Añadir espacio entre la etiqueta y el campo de entrada */
}
.form-group label{
color: #323232;
font-family: 'Magdelin Alt Light';
font-size: 20px;}


.verify-container .form-group input {
    flex: 2; /* Permite que el campo de entrada ocupe más espacio */
    width: 80%; /* Ajuste el ancho del campo de entrada */
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    background: #EBEBEB;
    border-radius: 5px;
    text-align: left; /* Alinea el texto a la izquierda */
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho y alto */
}

small {
    color: #E82F1F;
    
}
ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    color: #E82F1F;
    font-family: 'Magdelin Alt Regular';
    text-align: left;
    font-size: 20px;
    padding: 10px;
  }
  
  li.valid {
    color: green;
  }
  

/* Footer styling */
.footer {
    background-color: #29AECC;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    overflow: hidden;
    margin-bottom: 0;
    font-family: 'Magdelin Alt Regular';
    font-size:  20px;
    margin-top: auto;
    
  }
  .footer-column {
    padding:  0;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0px;
    font-family: 'Magdelin Alt Regular';
    font-size:  20px;
   /* Alinea el contenido de cada columna a la izquierda */
  }
  .footer-column .img{
  height: 70px;
  margin-bottom: 0;
  transform: translateY(-10px); 
  
  }
  .social-media {
  margin-top: 10px;
  }
  .footer .social-media a {
  display: flex;
  align-items: center;
  margin: 5px 0;
  color: white;
  text-decoration: none;
  font-family: 'Magdelin Alt Regular';
    font-size:  20px;
  }
  .footer .social-media a img {
  width: 24px; /* Ajusta el tamaño de los íconos */
  height: 24px;
  margin-right: 10px;
  object-fit: contain;
  
  }
  .footer-column .mi-div {
  margin-left: 20px; /* Ajusta el valor según sea necesario */
  margin-bottom: 10px;
    font-weight: bold;
  }
  .footer a {
    color: #F7F4E7;
    text-decoration: none;
    margin: 0 10px;
  }
  .footer a:hover {
    text-decoration: underline;
  }
/* Responsive design */
/* Pequeñas pantallas (móviles) */
@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    .form-group {
        flex-direction: column;
        align-items: center;
    }

    label, input {
        width: 80%;
        margin: 0;
        margin-bottom: 5px;
    }

    h1 {
        font-size: 24px;
    }

    button {
        font-size: 14px;
    }

    .button-container button {
        width: 100%;
    }
}

/* Pantallas medianas (tablets) */
@media (min-width: 601px) and (max-width: 1024px) {
    .container {
        padding: 30px;
    }

    .form-group {
        flex-direction: column;
        align-items: center;
    }

    label, input {
        width: 90%;
        margin: 0;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 32px;
    }

    button {
        font-size: 16px;
    }

    .button-container button {
        width: 45%;
    }
}

/* Pantallas grandes (desktops y laptops) */
@media (min-width: 1025px) and (max-width: 1280px) {
    .header {
        height: 100px;
    }

    .header h2 {
        padding: 20px;
    }

    .container {
        height: auto;
        padding: 40px;
        margin-top: 100px;
    }

    .content {
        height: auto;
    }

    .form-group {
        flex-direction: row;
        align-items: center;
    }

    label, input {
        width: 45%;
        margin: 0;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 40px;
    }

    button {
        font-size: 18px;
    }
}

/* Pantallas extra grandes (grandes desktops) */
@media (min-width: 1281px) {
    .header {
        height: 100px;
    }

    .header h2 {
        padding: 20px;
    }

    .container {
        height: auto;
        padding: 50px;
        margin-top: 150px;
    }

    .content {
        height: auto;
    }

    .form-group {
        flex-direction: row;
        align-items: center;
    }

    label, input {
        width: 45%;
        margin: 0;
        margin-bottom: 15px;
    }

    h1 {
        font-size: 48px;
    }

    button {
        font-size: 20px;
    }
}