<div class="header">
  <h2>Horizon Bank</h2>
</div>
<div class="content">
  <div class="container">
    <h2>Nueva Contraseña</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="password">Nueva Contraseña:</label>
        <input id="password" formControlName="password" type="password" />
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirmar Contraseña:</label>
        <input id="confirmPassword" formControlName="confirmPassword" type="password" />
      </div>
      <ul>
        <li [class.valid]="passwordCriteria.length">Al menos 6 caracteres</li>
        <li [class.valid]="passwordCriteria.uppercase">Al menos una letra mayúscula</li>
        <li [class.valid]="passwordCriteria.number">Al menos un número</li>
        <li [class.valid]="passwordCriteria.specialChar">Al menos un carácter especial</li>
      </ul>      
      <div class="button-container">
        <button type="button" (click)="redirectTo('')">Cancelar</button>
        <button type="submit" [disabled]="isProcessing ">Cambiar Contraseña</button>        
      </div>
    </form>
  </div>
</div>
<div class="footer">
  <div class="footer-column">
    <div>Horizon Bank</div>
  </div>
  <div class="footer-column">
    <div class="mi-div">Ayuda y Contacto</div>
    <div>+593999999999</div>
    <div>
      <a href="#">Facebook</a>
    </div>
    <div>
      <a href="#">Instagram</a>
    </div>
    <div>
      <a href="#">LinkedIn</a>
    </div>
  </div>
  <div class="footer-column">
    <div class="mi-div">Sobre Nosotros</div>
    <div>Quienes Somos</div>
    <div>Trabaja con Nosotros</div>
    <div>Trasparencia</div>
  </div>
  <div class="footer-column">
    <div class="mi-div">Mas Servicios</div>
    <div>Transacciones en Linea</div>
  </div>
</div>

   